---
import BaseHead from '../components/BaseHead.astro';

const {title, description, permalink, publishDate, ogImageUrl, canonicalURL } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} canonicalURL={canonicalURL} publishDate={publishDate} ogImageUrl={ogImageUrl} />
  </head>
  <body>
    
      <main>
          <slot/>
      </main>
   
  </body>
</html>

