---
import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';

const {title, description, ogImageUrl, publishDate, permalink} = Astro.props;
---
<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} ogImageUrl={ogImageUrl} publishDate={publishDate} canonicalURL={Astro.request.canonicalURL} articleSchema />
  </head>

  <body>
    <!-- <Header /> -->
    <main>
      <slot/>
    </main>
    <!-- <Footer/> -->
  </body>
</html>

