---
import BaseHead from '../components/BaseHead.astro';

const {title, description, ogImageUrl, publishDate, permalink} = Astro.props;
---
<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} ogImageUrl={ogImageUrl} publishDate={publishDate} canonicalURL={Astro.request.canonicalURL} articleSchema />
  </head>

  <body>
    
    <main>
      <slot/>
    </main>
    <script type="module" src={Astro.resolve('../components/CodeBlock/code-block.ts')}></script>
  </body>
</html>

