---
// Component Imports
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro'
import BlogPostPreview from '../../../components/BlogPostPreview.astro'
import {client} from '../../../lib/sanityClient.js'
// import { getSanityImageURL } from '../../../utils/helpers.js';
import { allCategoriesWithPosts } from '../../../lib/api.js';

export async function getStaticPaths() {
  const allCategoryData = await client.fetch(allCategoriesWithPosts);

  return allCategoryData.map(category => ({params: { slug: category.slug.current }, props: {category}}));
}

const { category } = Astro.props;
---

<BlogPostLayout title={category.title} >
    <h1>All Posts Tagged with "{category.title}"</h1>
    {category.posts.map((post) => (
       <BlogPostPreview post={post} />
    ))}
</BlogPostLayout>