---
import ArticleSchema from "./ArticleSchema.jsx";
import site from "../data/site.js";

export interface Props {
  title: string;
  description: string;
  permalink: string;
  publishDate: string;
  ogImageUrl: string;
  canonicalURL?: URL;
  articleSchema?: boolean;
}
const { title, description, permalink, publishDate, ogImageUrl, canonicalURL, articleSchema } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

<link rel="icon" href="/favicon.svg">
<link rel="stylesheet" href="/style/global.css"/>
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title || site.title} />
<meta name="description" content={description || site.description} />
<!-- Sitemap -->
<link rel="sitemap" href="/sitemap.xml">
<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title={`${site.name} Blog`} href={`${site.url}/feed/blog.xml`}/>
<!-- Canonical -->
<link rel="canonical" href={canonicalURL}>
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL || site.url} />
<meta property="og:title" content={title || site.title} />
<meta property="og:description" content={description || site.description} />
<meta property="og:image" content={ogImageUrl ? `${ogImageUrl}` : `${site.url}/assets/img/social.jpg`} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL || site.url} />
<meta property="twitter:title" content={title || site.title} />
<meta property="twitter:description" content={description || site.description} />
<meta property="twitter:image" content={ogImageUrl ? ogImageUrl : `${site.url}/assets/img/social.jpg`} />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
rel="preload"
href="https://fonts.googleapis.com/icon?family=Material+Icons"
as="style"
onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
    type="text/css">
</noscript>
<link
rel="preload"
href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
as="style"
onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
    rel="stylesheet"
    type="text/css">
</noscript>
{articleSchema && (<ArticleSchema title={title} description={description} permalink={permalink} publishDate={publishDate} ogImageUrl={ogImageUrl} />)}

