---
import { getSanityImageURL, formatBlogPostDate } from '../utils/helpers.js'

export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="post-preview__article">
    <a href={`/blog/${post.slug.current}`}>
      {post.mainImage && <img width="720" height="420" class="post-main__img" loading="lazy" src={getSanityImageURL(post.mainImage).url()} />}
      <h1 class="title">{post.title}</h1>
      <time class="publish-date">{formatBlogPostDate(post.publishedAt)}</time>
      <p>{post.excerpt}</p>
    </a>
</article>

<style>
  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover > .title {
    text-decoration: underline;
  }

.post-main__img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 1rem;
}

.title,
.author,
.publish-date {
  margin: 0;
}

.publish-date,
.author {
  font-size: 1.25rem;
  color: var(--theme-text-lighter);
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--theme-text);
}

</style>
