---
import Wrapper from './Wrapper.astro'
import SanityBlockContent from './SanityBlockContent.jsx'
import { getSanityImageUrl, formatBlogPostDate } from '../utils/helpers.js'

export interface Props {
  post: any;
}

const { post } = Astro.props;
// const blogPostBody = await convertBlockContentToMarkdown(post.bodyRaw);
---

<Wrapper>
  <article class="post-content__article">
      {post.mainImage && <img width="720" height="420" class="post-main__img" loading="lazy" src={getSanityImageUrl(post.mainImage).url()} />}
      <h1>{post.title}</h1>
      <time>{formatBlogPostDate(post.publishedAt)}</time>
      {post.author && <p>By {post.author.name}</p>}
      <SanityBlockContent blocks={post.body} />
  </article>
</Wrapper>

<style>
  .post-content__article {
    padding: 1rem;
  }

  .post-main__img {
    width: 100%;
    height: auto;
  }
</style>

