---
import SanityPortableText from './SanityPortableText.astro'
import { getSanityImageURL, formatBlogPostDate } from '../utils/helpers.js'
import Container from './Container.astro';

export interface Props {
  post: any;
}

const { post } = Astro.props;
// const blogPostBody = await convertBlockContentToMarkdown(post.bodyRaw);
---

<Container>
  <article class="post-content__article">
      {post.mainImage && <img width="720" height="420" class="post-main__img" loading="lazy" src={getSanityImageURL(post.mainImage).url()} />}
      <h1>{post.title}</h1>
      <time>{formatBlogPostDate(post.publishedAt)}</time>
      {post.author && <p>By {post.author.name}</p>}
      <SanityPortableText portableText={post.body} />
  </article>
</Container>

<style>
  .post-content__article {
    padding: 1rem;
  }

  .post-main__img {
    width: 100%;
    height: auto;
  }
</style>

